$background-color: #f6f5f5;
$primary-color: #1e5f74;
$secondary-color: #133b5c;
$dark-color: #1d2d50;
$accent-color: #ee6f57;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $background-color;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $dark-color;
}

.card-container {
  width: 500px;
  margin: 0 auto;
  background-color: white;
  padding: 3rem 2rem;
  border-radius: 10px;
  box-shadow: 0 2px 20px -2px rgba($color: #000000, $alpha: 0.2);

  .form-header {
    font-size: 1.5rem;
    padding: 0 0 0.8rem;
  }

  .form-container {
    display: flex;
    flex-direction: column;

    .field-wrapper {
      display: flex;
      flex-direction: column;
      padding: 0.8rem 0;

      .label {
        padding-bottom: 0.5rem;
        font-size: 0.8rem;
        font-weight: 500;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        a {
          text-decoration: none;
          color: $accent-color;
          font-weight: 600;
          transition: 0.2s;

          &:hover {
            color: darken($accent-color, 15%);
          }
        }
      }

      input {
        padding: 0.8rem;
        border: 1px solid lighten(black, 80%);
        border-radius: 5px;
      }
    }

    .checkbox-label {
      padding: 1rem 0;
      font-size: 0.8rem;
      font-weight: 500;

      input {
        transform: translateY(2px);
      }
    }

    button {
      background-color: $accent-color;
      color: white;
      margin: 0.8rem 0 0;
      padding: 0.8rem;
      font-size: 1rem;
      border: 1px solid $accent-color;
      border-radius: 5px;
      transition: 0.2s;
      cursor: pointer;

      &:hover {
        background-color: darken($accent-color, 15%);
      }
    }
  }
}
